# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
Parallelia.opensdf
Samples/Debug/cl.command.1.tlog
Samples/Debug/CL.read.1.tlog
Samples/Debug/*
Debug/*
Parallelia.sdf
Parallelia.sdf
